<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCOM.FeatherTouchDH1.Focuser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <ASCOM.FeatherTouchDH1.Properties.Settings>
            <setting name="HubCodeVersion" serializeAs="String">
                <value>2.6</value>
            </setting>
            <setting name="BacklashSteps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="COMPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="DeltaSteps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeltaT" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FinalDirectionIsOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FocusSpeed" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="FocuserModel" serializeAs="String">
                <value>FTF2016</value>
            </setting>
            <setting name="FocuserModelIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BacklashFinalDirectionIsOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFocusPosition" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxIncrement" serializeAs="String">
                <value>3120</value>
            </setting>
            <setting name="MaxStep" serializeAs="String">
                <value>3120</value>
            </setting>
            <setting name="MotorControlerVersion" serializeAs="String">
                <value>1.6</value>
            </setting>
            <setting name="NoCalibrationOnPowerUp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReverseInOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="StepResolution" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="StepSize" serializeAs="String">
                <value>13.04</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
        </ASCOM.FeatherTouchDH1.Properties.Settings>
    </userSettings>
</configuration>
